:root {
    --black: #000000;
    --dark: #1B1D1A;
    --green: #2A7323;
    --red: #EF252D;
    --sand: #ECDECD;
    --white: #FFFFFF;
    --see-thru-black: rgba(0, 0, 0, 0.5);
  }

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--dark);
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
  }
  
 

h1 {
    text-align: center;
}
p {
    font-size: 11pt;
}

.non-header {
    position: absolute;
    z-index: 2;

}

#header {
    background-color: var(--see-thru-black);
    align-self: center;
    width: 100%;
    z-index: 5;
    color: var(--sand);
    padding: 8px;
}


#header  li {
    list-style-type: none;
    padding: 20px;
    display: inline-block;
}


#header  ul {
    padding: 0;
    text-align: center;
    margin: 0;
}

#header  a {
    text-decoration: none;
    color: var(--sand);
}


.data-display-profile {
    padding: 20px;
    margin: 20px;
    align-self: center;
    color: var(--sand);
    background-color: var(--see-thru-black);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

.data-display-profile-child{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.data-display-profile-grandchild{
    display: flex;
    flex-direction: row;

}
.data-display-profile img {
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 200px;
    object-fit: contain;
}

#search-bar {
    display: none;
}

.prose {
    padding: 20px;
    margin: 20px;
    align-self: center;
    color: var(--sand);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

.prose a{
    color: var(--sand);
}
a:hover {
    color: var(--white);
}

#searchInput{
    color: var(--sand);
    background-color: transparent;
    border: transparent;
    font-size: medium;
}